body {
    background-color:slategray;

}

#main {

display: flex;
justify-content: center;
}


#calculator {


width: 400px;
border: solid black 5px;
}

#displays {
    width: 400px;
    height: 150px;
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    align-items:flex-end;
    background-color: lightsteelblue;

}
#primary-display {

    font-size:50px;
}

#result-display {

    font-size:20px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;

}

.button {
    border: 1px solid grey;
    width: 98px;
    height: 48px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.num {

    background-color: lightskyblue;
}

.op {

    background-color: lightblue;
}

#dec{
    background-color: lightskyblue;

}

#clear{
    background-color: lightblue;

}

#backspace{
    background-color: lightblue;

}




